# Ignore all .log files
*.log

# Ignore the build directory
/build/

# Ignore all .DS_Store files
.DS_Store

# Ingore lib directory
lib/

# Ignore all .env filses
*.env

# Ignore all files in node_modules but keep package.json
node_modules/
!node_modules/package.json